/****** Script for SelectTopNRows command from SSMS  ******/

Create View Contract.FSRSprime as
SELECT  [PrimeAwardReportID]
      ,[PrimeAwardPIID]
      ,[PrimeAwardIDVPIID]
      ,[PrimeAwardFederalAwardID]
      ,[TypeOfSpending]
      ,[PrimeAwardDateSubmitted]
      ,[PrimeAwardReportMonth]
      ,[PrimeAwardReportYear]
      ,[PrimeAwardReportType]
      ,[PrimeAwardPrincipalPlaceStreet]
      ,[PrimeAwardPrincipalPlaceCity]
      ,[PrimeAwardPrincipalPlaceState]
      ,[PrimeAwardPrincipalPlaceZIP]
      ,[PrimeAwardPrincipalPlaceDistrict]
      ,[PrimeAwardPrincipalPlaceCountry]
      ,[PrimeAwardeeParentDuns]
      ,[PrimeAwardeeParentContractorName]
      ,[PrimeAwardContractingAgencyID]
      ,[PrimeAwardContractingAgencyName]
      ,[PrimeAwardContractingOfficeID]
      ,[PrimeAwardContractingOfficeName]
      ,[PrimeAwardFundingAgencyID]
      ,[PrimeAwardFundingAgencyName]
      ,[PrimeAwardFundingOfficeID]
      ,[PrimeAwardFundingOfficeName]
      ,[PrimeAwardProgramSourceAgency]
      ,[PrimeAwardProgramSourceAccount]
      ,[PrimeAwardProgramSourceSubaccount]
      ,[PrimeAwardeeExecutive1]
      ,[PrimeAwardeeExecutive1Compensation]
      ,[PrimeAwardeeExecutive2]
      ,[PrimeAwardeeExecutive2Compensation]
      ,[PrimeAwardeeExecutive3]
      ,[PrimeAwardeeExecutive3Compensation]
      ,[PrimeAwardeeExecutive4]
      ,[PrimeAwardeeExecutive4Compensation]
      ,[PrimeAwardeeExecutive5]
      ,[PrimeAwardeeExecutive5Compensation]
      ,[PrimeAwardPrincipalNaicsCode]
      ,[PrimeAwardPrincipalNaicsDesc]
      ,[PrimeAwardCFDAprogramNumberTitleCodes]
      ,[PrimeAwardAmount]
      ,min([PrimeAwardDateSigned]) as MinOfPrimeAwardDateSigned
	  ,max([PrimeAwardDateSigned]) as MaxOfPrimeAwardDateSigned
      ,[PrimeAwardProjectDescription]
      ,[PrimeAwardTransactionType]
      ,[PrimeAwardProgramTitle]
      ,[PrimeAwardeeRecoveryModelQ1]
      ,[PrimeAwardeeRecoveryModelQ2]
      --,[PrimeAwardFiscalYear]
      ,[PrimeAwardContractingMajorAgencyID]
      ,[PrimeAwardContractingMajorAgencyName]
      ,[PrimeAwardFundingMajorAgencyID]
      ,[PrimeAwardFundingMajorAgencyName]
      ,[PrimeAwardAgencyID]
      ,[PrimeAwardIDVagencyID]
  FROM [DIIG].[Contract].[FSRS]
  group by [PrimeAwardReportID]
  ,[PrimeAwardPIID]
      ,[PrimeAwardIDVPIID]
      ,[PrimeAwardFederalAwardID]
      ,[TypeOfSpending]
      ,[PrimeAwardDateSubmitted]
      ,[PrimeAwardReportMonth]
      ,[PrimeAwardReportYear]
      ,[PrimeAwardReportType]
      ,[PrimeAwardPrincipalPlaceStreet]
      ,[PrimeAwardPrincipalPlaceCity]
      ,[PrimeAwardPrincipalPlaceState]
      ,[PrimeAwardPrincipalPlaceZIP]
      ,[PrimeAwardPrincipalPlaceDistrict]
      ,[PrimeAwardPrincipalPlaceCountry]
      ,[PrimeAwardeeParentDuns]
      ,[PrimeAwardeeParentContractorName]
      ,[PrimeAwardContractingAgencyID]
      ,[PrimeAwardContractingAgencyName]
      ,[PrimeAwardContractingOfficeID]
      ,[PrimeAwardContractingOfficeName]
      ,[PrimeAwardFundingAgencyID]
      ,[PrimeAwardFundingAgencyName]
      ,[PrimeAwardFundingOfficeID]
      ,[PrimeAwardFundingOfficeName]
      ,[PrimeAwardProgramSourceAgency]
      ,[PrimeAwardProgramSourceAccount]
      ,[PrimeAwardProgramSourceSubaccount]
      ,[PrimeAwardeeExecutive1]
      ,[PrimeAwardeeExecutive1Compensation]
      ,[PrimeAwardeeExecutive2]
      ,[PrimeAwardeeExecutive2Compensation]
      ,[PrimeAwardeeExecutive3]
      ,[PrimeAwardeeExecutive3Compensation]
      ,[PrimeAwardeeExecutive4]
      ,[PrimeAwardeeExecutive4Compensation]
      ,[PrimeAwardeeExecutive5]
      ,[PrimeAwardeeExecutive5Compensation]
      ,[PrimeAwardPrincipalNaicsCode]
      ,[PrimeAwardPrincipalNaicsDesc]
      ,[PrimeAwardCFDAprogramNumberTitleCodes]
      ,[PrimeAwardAmount]
      --,[PrimeAwardDateSigned]
      ,[PrimeAwardProjectDescription]
      ,[PrimeAwardTransactionType]
      ,[PrimeAwardProgramTitle]
      ,[PrimeAwardeeRecoveryModelQ1]
      ,[PrimeAwardeeRecoveryModelQ2]
      --,[PrimeAwardFiscalYear]
      ,[PrimeAwardContractingMajorAgencyID]
      ,[PrimeAwardContractingMajorAgencyName]
      ,[PrimeAwardFundingMajorAgencyID]
      ,[PrimeAwardFundingMajorAgencyName]
      ,[PrimeAwardAgencyID]
      ,[PrimeAwardIDVagencyID]
	  