/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [fiscal_year]
      ,[CSIScontractID]
      ,[IDVpiid]
      ,[PIID]
      ,[Query_Run_Date]
      ,[Customer]
      ,[SubCustomer]
      ,[ProductServiceOrRnDarea]
      ,[Simple]
      ,[ProductOrServiceCode]
      ,[ProductOrServiceCodeText]
      ,[principalnaicscodeText]
      ,[CanadaSector]
      ,[PlatformPortfolio]
      ,[isforeignownedandlocated]
      ,[isforeigngovernment]
      ,[isinternationalorganization]
      ,[organizationaltype]
      ,[PlaceIsForeign]
      ,[PlaceCountryText]
      ,[OriginIsForeign]
      ,[OriginCountryText]
      ,[VendorIsForeign]
      ,[VendorCountryText]
      ,[DUNSIsForeign]
      ,[DUNSCountryText]
      ,[ParentIsForeign]
      ,[ParentCountryText]
      ,[IsPlaceCanada]
      ,[IsOriginCanada]
      ,[IsVendorCanadian]
      ,[placeofmanufactureText]
      ,[IsCCCvendor]
      ,[dunsnumber]
      ,[parentdunsnumber]
      ,[streetaddress]
      ,[StandardizedTopContractor]
      ,[Supplier]
      ,[Supplier_id]
      ,[ParentIDsupplier]
      ,[ParentID]
      ,[isforeign]
      ,[parentheadquarterscountrycode]
      ,[obligatedAmount]
      ,[numberOfActions]
      ,[IsSubcontractReportingContract]
      ,[CanadaMinOfSubawardFiscalYear]
      ,[MaxOfIsPrimePlaceCanada]
      ,[MaxOfIsSubPlaceCanada]
      ,[MaxOfIsSubVendorCanadian]
      ,[MaxOfIsCCCsubvendor]
      ,[subParentIDsupplier]
  FROM [DIIG].[Location].[CanadaRelatedFPDScomplete]